@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<TelerikButton Primary="true" @onclick="IncrementCount">Click me</TelerikButton>

<TelerikDateTimePicker @bind-Value="datePickerValue"></TelerikDateTimePicker>

@datePickerValue
